// 全局scss函数

@mixin wh($w, $h) {
  width: $w + px;
  height: $h + px;
}

@mixin border-radius($radius) {
  border-radius: $radius;
}

@mixin box-shadow($x, $y, $blur, $color) {
  box-shadow: $x $y $blur $color;
}
